<div class="container">

    <br>

    <div class="row selectordefecha">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="text-center">{{title}}</p>
        </div>

        <br>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h6 class="text-muted font-italic">Elegí una fecha</h6>
            <input class="datepicker  text-center">
        </div>


    </div>

    <br>

    <div class="row  text-center">
        <div class="history col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"></div>
    </div>
    
    <br>
    
    <div class="row  text-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center font-italic"><p class="text-center text-muted">æ</p></div>
    </div>

    <br>
    <br>
    <br>    

</div>