<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- estilo de bootstrap -->
    <link rel='stylesheet' href='css/bootstrap.css' />

    <!-- estilo de bootstrap-datepicker -->
    <link rel='stylesheet' href='css/bootstrap-datepicker.min.css' />

    <!-- jQuery -->
    <script src="jquery.min.js"></script>

  </head>
  <body class="bg-dark text-light">
    {{{body}}}
  </body>

    <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>

    <!-- bootstrap-datepicker js -->
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="locales/bootstrap-datepicker.es.min.js"></script>

  <!-- user script -->
  <script src="/javascripts/index.js"></script>


</html>
